body{
  font-family: Arial;
  padding: 20px;
}

input{
  width: 250px;
  padding: 6px;
  margin-bottom: 4px;
  display: block;
  border: 2px solid #ccc;
}

.error{
  color: red;
  font-size: 14px;
  height: 16px;    
  margin: 0 0 10px;
}

.valid{ border-color: green; }
.invalid{ border-color: red; }

button{
  padding: 8px 14px;
}