body {
    font-family: Arial;
    padding: 20px;
}

#taskList li {
    margin: 8px 0;
    padding: 8px;
    background: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-left: 5px;
}